.App {
  text-align: center;
  background-color: sandybrown;
  border-radius: 7px;
  margin: 250px auto;
  padding: 25px;
  width: 750px;
  height: 450px;
}

.title {
  text-align: center;
  margin: 55px auto;
}

.FullInput {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message {
  color: red;
  font-size: 15px;
  font-weight: bold;
}

.error {
  margin-right: 300px;
}


